.skillList {
  font-size: 13pt;
}

.introPicture {
  width: 13vw;
  height: 13vw;
}

ul {
  list-style: none;
}

article {
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

article>div {
  margin-left: 10px;
}

#banner {
  background-color: #19364F;
  flex-direction: row;
}

h1 {
  margin: 3px;
  font-size: 2em;
}

a {
  color: #e8ce9d;
}

a:visited {
  color: #e8ce9d;
}

a:hover {
  color: #FFFFFF;
}

#banner {
  height: auto;
  align-items: center;
  justify-content: space-between;
  padding: 1vh;
  padding-right: 2vw;
  flex-wrap: wrap;
}

#banner ul {
  flex-direction: row;
}

#banner li {
  margin-left: 4%;
  font-size: 1em;
  list-style: none;
}

#banner .headerLinksDiv {
  flex-direction: row;
  display: flex;
}


#banner a:link {
  text-decoration: none;
}

#banner a:visited {
  text-decoration: none;
}

#banner a:hover {
  text-decoration: underline;
}

#banner a:active {
  text-decoration: underline;
  font-weight: 400;
}

body {
  background-color: #EF4755;
  color: #fff0c6;
  margin: 0px;
  font-family: sans-serif;
}

main {
  padding: 0vw;
}

main, #banner, body, article {
  display: flex;
}

main, article, body, #titleBackground {
  flex-direction: column;
}

main>div {
  border-radius: 20px;
  padding: 1px;
  border-width: 3px;
  border-collapse: separate;
  overflow: hidden;
}

.blackTextBackground {
  background-color: black;
  opacity: .90;
}
.blackSectionBackground {
  background-color: black;
  opacity: 1;
}
.altTextBackground {
  background-color: #3a6ee8;
  opacity: .90;
}

.emptyBlock5w {
  flex-basis: 5vw;
}

.logoDiv {
  display: flex;
  flex-direction: row;
}

.logoDiv div:hover{
  border-color: blue;
  background-color: #fc95c2;
}

.logoDiv div {
  background-color: #fff0c6;
  border-radius: 99%;
  margin-left: 1vw;
  width: 1.4em;
  height: 1.4em;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  overflow: hidden;

    margin-left: auto;
    margin-right: auto;
    display: block;
}

.logoDiv img {
  display: block;
  margin: auto;
  margin-top: 5%;
  width: 90%;
  height: 90%;
}
@media (min-width:600px) {
  h1 {
    margin: 1vh;
    font-size: 3em;
  }
  #banner{
    flex-direction: row;
  }
  #banner li{
    font-size: 1.4em;
  }
  .logoDiv div {
    width: 3em;
    height: 3em;
  }
}
@media (min-width:1200px) {
  #banner li{
    font-size: 2em;
  }
  .logoDiv div {
    width: 4em;
    height: 4em;
  }
}
