#titlePic{
  width: 30vh;
  height: 30vh;
  border-radius: 90%;
  margin: 1vw;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  margin-top: auto;
  margin-bottom: auto;
}


#titleBackground {
  display: flex;
  flex-direction: row;
  height: 50vh;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("DonutsWide.png");

  border-radius: 0px;
}


#titleTextBlock h1 {
  font-size: 1em;
}

#titleTextBlock span {
  font-size: 3vh;
}
#titleTextBlock{
  margin-left: 1vw;
  flex-basis: 50%;
  flex-direction: column;
  padding-left: 2vw;
  font-size: 30pt;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
#titleTextBlock .blackTextBackground{
  padding: 6vh;
  padding-right: 1vh;
  border-radius: 5px;
}
.PersonalStatement{
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  margin-top: 4vh;
  padding-top: 1vh;
}
.PersonalStatement h2{
  margin: 1vh;
  font-size: 5vh;
}

.PersonalStatement p,.StudiesStatement p{
  margin-left: 2vw;
}
.StudiesStatement{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.StudiesStatement h2,.PersonalStatement h2{
  margin-left: 1vw;
}
.StudiesStatement h2{
  font-size: 5vh;
  margin-bottom: 0px;
}
#WorkHistoryDiv{
  margin:3vh;
  border-radius: 10px;
  background-color: #3a6ee8;
}
#WorkHistoryDiv > div{
  padding: 0px;
  margin:1vw;
  margin-top: 3vh;
  margin-bottom: 1vh;
  border-radius: 10px;
  border-style: hidden;
  overflow:hidden;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
#WorkHistoryDiv h1{
  font-size: 7vh;
}
#WorkHistoryDiv h2{
  margin-bottom: 3px;
}
#WorkHistoryDiv h3{
  margin: 2px;
  margin-top: 1px;
}

#WorkHistoryDiv .altTextBackground{
  background-color: #d10003;
}
.WorkStatement{
  padding-left: 1vw;
  padding-right: 1vw;
}
div.WorkStatement{
  margin: 0px;
}

.WorkStatement p{
  margin-left: 4vw;
  margin-right: 4vw;
}
.WorkStatement h3{
  margin-left: 2vh;
  font-size: 3vh;
}
#IndexBody{
  margin: 2vh;
}
@media (min-width:800px) {
  #titleTextBlock{
    margin-left: 1.6vw;
  }
  #titleTextBlock h1 {
    font-size: 1.4em;
  }
}
@media (min-width:1200px) {
  #titlePic{
    width: 40vh;
    height: 40vh;
  }
  #titleTextBlock{
    margin-left: 2vw;
  }
}
