#Languages {
  border-width: 0px;
}
h2{
  font-size: 3em;
  margin-bottom: 2px;
}
h3{
  margin-top: 2px;
}
article{
  padding-left: 1vw;
  padding-right: 1vw;
  border-style: hidden;
}
p{
  margin-left: 3vw;
}
